# Environnements virtuels
.venv/

# Fichiers de configuration
.vscode/

# Variables d'environnement
.env

# Fichiers privées
zprivate/

# Python
__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/